@import "../../../src/scss/mixin.scss";

:local{
	.emptyPage{
		padding:45px 0 40px;
		background:#fff;
		text-align:center;
		p{
			line-height:30px;
			padding:6px 0 10px;
		}
	}
	.redBtn{
		display:inline-block;
		height:36px;
		line-height:36px;
		width: 150px;
		background:#e60a30;
		border-radius:18px;
		color:#fff;
		font-size:15px;
	}
}

