@import  '../../../scss/mixin.scss';

[data-page~=store-index]{
  li{
    list-style: none;
    display: inline-block;
  }
  .container{
    padding: 0 rem(30);
  }
  .hide{
    display: none;
  }
  .storeNotOpen{
    margin: rem(250) rem(100) 0;
    text-align: center;
    img{
      width: rem(140);
    }
    .notOpenDesc{
      margin-top: rem(26);
      p{
        color: #999999;
        font-size: rem(26);
        line-height: rem(36);
      }
    }
    .returnIndexButton{
      display: inline-block;
      margin-top: rem(30);
      width: rem(300);
      height: rem(74);
      border-radius: rem(50);
      background: #e60a30;
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #ffffff;
        font-size: rem(30);
        line-height: rem(74);
      }
    }
  }
  .partingLine{
    width: 100%;
    height: rem(20);
    img{
      width: 100%;
    }
  }
  .storeSign{
    margin-top: rem(30);
    display: flex;
    .storeSignImage,.storeSignInfo{
      display: inline-block;
    }
    .storeSignImage{
      img{
        width: rem(100);
      }
    }
    .storeSignInfo{
      vertical-align: middle;
      margin-left: rem(20);
      flex: 1 0 0;
      .storeSignInfoName{
        color: #353535;
        font-size: rem(31.84);
        line-height: rem(50);
      }
      .storeSignInfoDesc{
        color: #999999;
        font-size: rem(20);
        line-height: rem(30);
      }
    }
    .storeSignFollowButton{
      width: rem(140);
      height: rem(50);
      margin-top: rem(20);
      text-align: center;
      .noConcerned{
        height: rem(50);
        line-height: rem(50);
        border-radius: rem(40);
        background: #fc574b;
        img{
          width: rem(32);
          margin-top: rem(-6);
          margin-right: rem(10);
        }
        span{
          color: #fff;
          font-size: rem(26);
          line-height: rem(50);
        }
      }
      .concerned{
        border-radius: rem(40);
        border: 1px solid #f2f1f2;
        span{
          color: #b7b9b9;
          font-size: rem(26);
          line-height: rem(50);
        }
      }
    }
  }
  .concernResult{
    position: fixed;
    z-index: 1000;
    width: 34%;
    top: rem(400);
    left: 33%;
    background: rgba(0,0,0,0.7);
    border-radius: rem(20);
    text-align: center;
    div.concernFailed{
      padding: rem(64) rem(40) rem(50) rem(40);
      img{
        width: rem(70);
      }
      span{
        font-size: rem(36);
        line-height: rem(80);
        color: #fff;
      }
    }
    div.concernSuccess{
      padding: rem(32) rem(40) rem(20) rem(40);
      img{
        width: rem(70);
      }
      span{
        font-size: rem(36);
        line-height: rem(80);
        color: #fff;
      }
      p{
        font-size: rem(20);
        line-height: rem(30);
        color: #c9c9c9;
      }
    }
  }
  .storeLeader{
    .leaderNav{
      height: rem(70);
      text-align: center;
      font-size: rem(28);
      line-height: rem(70);
      border-bottom: 1px solid #e4e4e4;
      li{
        color: #999999;
        width: 50%;
      }
      li.activeNav{
        color: #e60a30;
      }
    }
    .leaderInfo{
      width: 100%;
      padding-bottom: rem(90);
      .storeIndexItem{
        .appBanner{
          .custom-pagination{
            width: rem(100);
            left: 85%;
            bottom: rem(14);
            padding: 0 rem(10);
            border-radius: rem(20);
            background: rgba(0,0,0,0.7);
            color: #fff;
          }
          img{
            width: 100%;
          }
        }
        .couponList{
          width: 100%;
          height: rem(160);
          padding: rem(20) 0;
          overflow-x: auto;
          word-break:keep-all;/* 不换行 */
          white-space:nowrap;/* 不换行 */
          .coupon{
            margin-left: rem(20);
            width: rem(302);
            height: 100%;
            background: url(/src/img/store/coupon-background.png) no-repeat center;
            background-size: 100% 100%;
            .couponLeft{
              display: inline-block;
              width: 50%;
              text-align: center;
              color: #fff;
              .couponNum{
                margin-top: rem(10);
                font-size: rem(26);
                span{
                  font-size: rem(40);
                }
              }
              .couponLimit{
                font-size: rem(20);
              }
            }
            .couponRight{
              float: right;
              width: 50%;
              text-align: center;
              color: #fff;
              .couponText{
                font-size: rem(32);
                color: #e60a30;
                margin-top: rem(14);
              }
              .couponButton{
                display: inline-block;
                font-size: rem(20);
                height: rem(35);
                line-height: rem(40);
                color: #fff;
                background: #ff5555;
                text-align: center;
                border-radius: rem(20);
                padding: rem(4) rem(10);
              }
            }
          }
          .coupon:last-child{
            margin-right: rem(20);
          }
        }
        .advertiseImage{
          img{
            width: 100%;
            height: auto!important;
          }
        }
        .goodsList{
          .title{
            color: #353535;
            font-size: rem(31.84);
            line-height: rem(74);
            text-align: center;
          }
          .content{
            border-top: 1px solid #e4e4e4;
            padding-bottom: rem(40);
            li.goods{
              vertical-align: bottom;
              width: 49%;
              position: relative;
              margin-top: rem(30);
              .goodsHeadTag{
                position: absolute;
                top: 0;
                left: 0;
                height: rem(30);
                color: #fff;
                text-align: center;
                font-size: rem(18);
                line-height: rem(35);
                padding: 0 rem(10);
              }
              .headTagType1{
                background: #ff8888;
              }
              .headTagType2{
                background: #63c0f3;
              }
              .goodsImage{
                position: relative;
                width: 100%;
                text-align: center;
                padding: rem(20) 0 ;
                img{
                  width: 100%;
                }
                .float-label{
                  position: absolute;
                  left:50%;
                  top:50%;
                  width:60%;
                  height:60%;
                  -webkit-transform: translate3d( -50%,-50%, 0 );
                  transform: translate3d( -50%,-50%, 0 );
                }
              }
              .goodsDesc{
                color: #353535;
                font-size: rem(24);
                line-height: rem(32);
                height: rem(64);
                display: -webkit-box;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
              .goodsPrice{
                .nowPrice{
                  font-size: rem(28);
                  line-height: rem(48);
                  color: #e60a30;
                  margin-right: rem(8);
                }
                .oldPrice{
                  font-size: rem(24);
                  line-height: rem(48);
                  color: #c9c9c9;
                  text-decoration: line-through;
                }
              }
              .goodsTag{
                height: rem(36);
                font-size: rem(20);
                color: #fff;
                li{
                  height: rem(30);
                  line-height: rem(32);
                  border-radius: rem(4);
                  padding: 0 rem(10);
                  text-align: center;
                  margin-right: rem(10);
                }
                li:last-child{
                  margin-right: 0!important;
                }
                li.tag_yellow{
                  background: #fbb810;
                }
                li.tag_red{
                  background: #e60a30;
                }
                li.tag_blue{
                  background: #27a1e5;
                }
              }
            }
            li.goods:nth-child(2n+1){
              margin-right: 2%;
            }
          }
        }
      }
      .allGoodsItem{
        #searchResult{
          padding-top: 0;
          .order-filter{
            width: 100%;
            border-top: none;
          }
        }
        .allGoodsCondition{
          width: 100%;
          height: rem(78);
          border-bottom: 1px solid #e4e4e4;
          text-align: center;
          li{
            width: 20%;
            height: rem(78);
            color: #999999;
            font-size: rem(28);
            line-height: rem(78);
            img{
              width: rem(20);
              margin-left: rem(10);
              margin-top: rem(-6);
            }
          }
          li:last-child{
            border-left: 1px solid #e4e4e4;
          }
        }
      }
    }
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: rem(90);
    background: #fff;
    border-top: 1px solid #e5e5e5;
    li{
      position: relative;
      width: 100%;
      height: rem(90);
      font-size: rem(28);
      line-height: rem(90);
      color: #353535;
      text-align: center;
      .storeList{
        position: absolute;
        bottom: rem(100);
        left: rem(40);
        width: rem(320);
        .storeListBody{
          background: url("/src/img/store/store-list-background-body.png") no-repeat center;
          background-size: 100% 100%;
          padding: 0 rem(10);
          li{
            width: 100%;
            border-bottom: 1px solid #e4e4e4;
            color: #353535;
            height: rem(100);
            line-height: rem(100);
            .storeListLink{
              display: inline-block;
              width: 100%;
              height: 100%;
            }
          }
          li:last-child{
            border-bottom: none;
          }
        }
        .storeListIcon{
          width: 100%;
          background: url("/src/img/store/store-list-background-icon.png") no-repeat center;
          background-size: 100%;
          padding: 0 rem(10) rem(26);
        }
      }
    }
    img{
      width: rem(30);
      margin-top: rem(-6);
      margin-right: rem(10);
    }
  }
}
