@import 'mixin.scss';

[data-page~=group-detail] {
    //成功或失败
    .success-of-fail{
        width: 102px;
        height: 83px;
        position: absolute;
        top: 18px;
        right: 16px;
    }
    //商品信息
    .goods-msg{
        width: 100%;
        height: 120px;
        padding-top: 20px;
        position: relative;
        .goods-img{
						display: block;
            width: 80px;
            height: 80px;
            overflow: hidden;
            position: absolute;
            top: 20px;
            left: 14px;
            img{
                width: 80px;
            }
            .new-group {
                position: absolute;
                width: 40px;
                top: 0;
                left: 0;
            }
        }
        .goods-detail{
            width: 100%;
            padding-left: 110px;
            .goods-title{
                @include multiLine(3);
            }
        }
    }
    //参团信息
    .color-grey{
        background: #aaa!important;
    }
    .group-msg{
        width: 100%;
        min-height: 160px;
        padding-bottom: 14px;
        .group-img{
            width: 100%;
            min-height: 50px;
            padding-bottom: 10px;
        }
    }
    //头像
    .head-portrait{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0 12px 10px;
        position: relative;
        .portrait{
            width: 50px;
            height: 50px;
            border-radius: 25px;
            overflow: hidden;
        }
        img{
            width: 50px;
        }
        span{
            position: absolute;
            top: 0;
            right: -9px;
            width: 30px;
            height: 14px;
            border-radius: 7px;
        }
    }
    //倒计时
    .remaining-time{
        width: 100%;
        height: 56px;
        position: relative;
        .timer{
            width: 120px;
            height: 30px;
            border-radius: 26px;
            line-height: 32px;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -60px;
        }
    }
    //查看详情
    .open-detail{
        width: 100%;
        @include flexBox;
        @include flexHori;
        .open-txt{
            padding: 0 20px;
            background-image: url(../img/evaluate/down.png);
            background-repeat: no-repeat;
            background-position: 120px 2px;
            background-size: 14px 14px;
        }
        .open-txt-bg{
            background-image: url(../img/evaluate/up.png);
        }
    }
    //参团用户详情
    .users-detail{
        width: 100%;
        padding: 10px 0 10px 12px;
        ul{
            width: 100%;
            padding: 10px 0 10px 14px;
            border-left: 1px solid #e4e4e4;
            li{
                height: 46px;
                width: 98%;
                border-radius: 4px;
                padding: 0 6px 0 44px;
                position: relative;
                .horn{
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    left: -4px;
                    top: 20px;
                    display: block;
                    @include transform45;
                }
                .circle{
                    width: 11px;
                    height: 11px;
                    border-radius: 8px;
                    position: absolute;
                    left: -20px;
                    top: 19px;
                    border: 3px solid #fff;
                }
            }
        }
        .portrait{
            width: 30px;
            height: 30px;
            border-radius: 15px;
            overflow: hidden;
            position: absolute;
            top: 8px;
            left: 8px;
            img{
                width: 30px;
            }
        }
    }
    //    拼团推荐
    .group-recommend {
        padding-bottom: 50px;
        .recommend-title {
            margin: 0 15px 15px;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid #f4f4f4;
        }
        .recommend-goods {
            margin: 0 15px;
            max-height: 570px;
            overflow: hidden;
            .each-goods {
                float: left;
                width: 33.33%;
                text-align: center;
                img {
                    text-align: left;
                    width: 100%;
                }
                .title {
                    margin-top: 2px;
                    height: 32px;
                    @include multiLine(2);
                }
                .recommend-price {
                    color: #E60A30;
                    border-top: 1px dashed #e4e4e4;
                    padding-top: 8px;
                    padding-bottom: 15px;
                    margin-top: 8px;
                    line-height: 15px;
                }
            }
        }
        .recommend-footer {
            height: 53px;
            line-height: 53px;
            text-align: center;
            background: #f4f4f4;
            color: #c9c9c9;
            font-size: 14px;
            i {
                height: 14px;
                margin-left: 25px;
                margin-right: 25px;
                border-left: 1px solid #c9c9c9;
            }
        }
    }
    .group-purchase-btn {
        z-index: 1;
        height: 50px;
        position: fixed;
        width: 100%;
        bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        .more-pintuan {
            width:33%;
            background: #f99;
            .list-icon {
                display: inline-block;
                width: 18px;
                height: 12px;
                margin-right: 5px;
                vertical-align: middle;
                margin-top: -3px;
                overflow: hidden;
                line-height: 1px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .jump-group-btn {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            background: #f44;
        }
        a {
            display: block;
            color: #fff;
            font-size: 15px;
            line-height: 50px;
            text-align: center;
        }
    }

    //购买加入购物车弹窗
    .action-buy-modal {
        .purchase-limit {
            text-align: center;
            background: #FFC618;
            width: 100%;
            position: fixed;
            bottom: 48px;
            left: 0;
            color: #fff;
            font-size: 10px;
            border: none;
            padding: 0;
            color: #fff;
            line-height: 40px;
            z-index: 10
        }

        .ui-table-view-large-img {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #4c4b4b;
            z-index: 110;
            left: 0;
            .buy-shady {
                width: 100%;
                height: 100%;
            }
            .ui-table-view-large-wrapper {
                width: 100%;
                height: 10rem;
                position: absolute;
                top: 50%;
                margin-top: -5rem;
                img {
                    width: 100%;
                }
            }
        }

        .ui-table-view {
            position: relative;
            .ui-table-view-cell {
                padding-bottom: 5px;
                border-bottom: 1px solid #f4f4f4;
                min-height: 90px;
                .posit-img {
                    position: absolute;
                    top: -15px;
                    left: 25px;
                    display: block;
                    width: 90px;
                    height: 90px;
                    border: 1px solid #f4f4f4;
                    line-height: 86px;
                    .ui-media-object {
                        width: 100%;
                        height: 100%;
                    }
                }
                .window-head {
                    padding-left: 37%;
                    .price-tag {
                        padding-top: 18px;
                        height: 50px;
                        .text-price {
                            font-size: 22px;
                            color: #e60a30;
                            display: inline-block;
                        }
                    }
                    .bybs-tag {
                        display: inline-block;
                        .baoyou-tag {
                            vertical-align: 3px;
                        }
                    }
                    .text-price-sel {
                        display: block;
                        width: 90%;
                        line-height: 16px;
                        height: 30px;
                        margin-top: 2px;
                        overflow: auto;
                        color: #999999;
                    }
                }

            }
        }
        .attr-wrap {
            overflow-y: auto;
            width: 100%;
            padding: 13px 0 50px 0;
            max-height: 300px;
            & .installment-area {
                .standard-info {
                    .parameter {
                        ul.size_ul {
                            li {
                                float: left;
                                text-align: center;
                                margin-right: 5px;
                                border: 1px solid #f4f4f4;
                                margin-bottom: 10px;
                                border-radius: 25px;
                                height: auto;
                                width: auto;
                                padding: 5px 8px;
                                background: red;
                                span {
                                    font-size: 10px;
                                    line-height: 17px;
                                }
                            }
                            li.on {
                                background: #e60a30;
                                border: 1px solid #e60a30;
                                span {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            & .standard-area {
                position: relative;
                margin: 0 15px 10px 15px;
                .standard-info {
                    padding: 0;
                    background: #fff;
                    .parameter {
                        overflow: hidden;
                        margin-bottom: 15px;
                        ul {
                            li {
                                line-height: 35px;
                                display: block;
                                float: left;
                                height: 35px;
                                margin-right: 4%;
                                padding: 0 15px;
                                border: 1px solid #f4f4f4;
                                border-radius: 3px;
                                background: #fff;
                                margin-top: 10px;
                                min-width: 75px;
                                max-width: 100%;
                                & > span {
                                    display: block;
                                    height: 100%;
                                    font-size: 14px;
                                    line-height: 33px;
                                    overflow: hidden;
                                    text-align: center;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                            }
                            .abled {
                                border: 1px solid #c9c9c9;
                                color: #353535;
                            }
                            .disabled {
                                border: 1px dashed #c9c9c9;
                                color: #c9c9c9;
                            }
                            .on {
                                color: #e60a30;
                                border: 1px solid #e60a30;
                            }
                        }
                    }
                }
            }

            .buy-amount {
                overflow: hidden;
                line-height: 40px;
                margin: 20px 15px;
                .amount-tit {
                    float: left;
                    font-size: 14px;
                }
                .number-increase-decrease {
                    float: right;
                    height: 31px;
                    font-size: 1.2em;
                    border: 1px solid #e4e4e4;
                    border-radius: 3px;
                    width: 140px;
                    position: relative;
                    .btn-action {
                        width: 40px;
                        color: #999999;
                        font-size: 21px;
                        line-height: 31px;
                        text-align: center;
                        display: inline-block;
                        position: absolute;
                    }
                    .action-quantity-input {
                        height: 29px;
                        text-align: center;
                        width: 60px;
                        font-size: 0.26667rem;
                        color: #353535;
                        border: none;
                        position: absolute;
                        top: 0;
                        left: 40px;
                    }
                    .action-decrease {
                        border-radius: 3px 0 0 3px;
                        border-right: 1px solid #e4e4e4;
                        top: -2px;
                        left: 0;
                    }
                    .action-increase {
                        border-radius: 0 3px 3px 0;
                        border-left: 1px solid #e4e4e4;
                        top: -2px;
                        right: 0;
                    }
                    .dis-click {
                        color: #e4e4e4;
                    }
                    .action-disable {
                        color: #e4e4e4;
                    }
                    .input_bak {
                        position: absolute;
                        top: 0;
                        left: 38px;
                        width: 40px;
                        display: inline-block;
                        height: 38px;

                    }
                }
                .store_buy {
                    color: #999999;
                    float: right;
                    margin-right: 6px;
                }
                .limit_buy {
                    color: #e60a30;
                    clear: both;
                    font-size: 12px;
                    display: block;
                    text-align: center;
                    height: 30px;
                    width: 114px;
                    float: right;
                    line-height: 30px;
                    padding-right: 5px;
                }
            }
            .expect_tax, .expect_tax_con .tax_count {
                height: 50px;
                line-height: 50px;
                border-top: 1px solid #f4f4f4;
                font-size: 14px;
                clear: both;
                padding: 0 15px;
            }
            .expect_tax {
                .icon_slide {
                    transition: all .15s ease;
                    -webkit-transition: all .15s ease;
                    -moz-transition: all .15s ease;
                    -o-transition: all .15s ease;
                    img {
                        margin: 0 5px;
                        width: 16px;
                        vertical-align: -2;
                    }
                }
            }
            .expect_tax_con {
                .tax_count {
                    border-bottom: 1px solid #f4f4f4;
                }
                .tax_cont {
                    padding-left: 15px;
                    font-size: 12px;
                    line-height: 20px;
                    padding-bottom: 15px;
                    color: #808080;
                }
                .hd {
                    line-height: 30px;
                    font-size: 14px;
                    img {
                        width: 11px;
                    }
                }
            }
            //拼团数量
            .grounp-buy-amount {
                .number-increase-decrease {
                    //border: none;
                }
            }
        }
        .buy-option-btn {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            & > div {
                color: #fff;
                font-size: 14px;
                text-align: center;
                @include hOfHd(50px);
                z-index: 10;
            }
            .btn-addcart, .has_sellout {
                background-color: #FF8888;
            }
            .btn-tobuy {
                background-color: #E60A30;
            }
            .btn-tobuy-disable {
                background: #c9c9c9;
            }
            .btn-group {
                width: 50%;
                float: left;
            }

        }
        .free-postage-tag-wrap {
            display: inline-block;
            .free-postage-tag {
                padding: 0 3px;
                display: inline-block;
                line-height: 15px;
                font-size: 10px;
                color: #e60a30;
                border: 1px solid #e60a30;
                border-radius: 2px;
                vertical-align: 3px;
                line-height: 15px;
                height: 15px;
                margin-left: 5px;
            }
        }
    }
}