@import "mixin.scss";

[data-page~="zero-buy-list"]{
  img{
    border: 0;
    display: block;
    width:100%;
    vertical-align: middle;
  }
  &.main{
    width:100%;
    margin-top: 0;
    max-width: 9999px;
    overflow:hidden;
    .slider{
      position:relative;
      width:100%;
      .slider-touch{
        width:100%;
        overflow:hidden;
        ul{
          width:1000%;
          overflow:hidden;
          li{
            width:10%;
            float:left;
          }
        }
      }
      .swiper-pagination{
        position:absolute;
        width:100%;
        bottom:8px;
        left:0;
        text-align:center;
        .swiper-pagination-bullet{
          display:inline-block;
          width:6px;
          height:6px;
          border:1px solid #FFF;
          border-radius:50%;
          margin:0 2px;
        }
        .swiper-pagination-bullet-active{
          background:#fff;
        }
      }
    }
    .secskill-content{
      width:100%;
      overflow:hidden;
      padding-top:10px;
      ul{
          width:500%;
        li{
          float:left;
          text-align:center;
          width:80px!important;
          a{
            display: block;
            img{
              display:inline-block;
              width:60%;
            }
          }
          p{
            font-size:14px;
          }
        }
      }
    }
    .apple-area{
      padding-top:10px;
    }
    .item-box{
      background:#f4f4f4;
      width:50%;
      float:left;
      padding-top:5px;
      &:nth-child(2n-1){
        padding-right:2.5px;
      }
      &:nth-child(2n){
        padding-left:2.5px;
      }
      .item-des{
        background:#fff;
        text-align: center;
        padding:10px;
        font-size:14px;
        .des-text{
          text-align: left;
        }
        .des-price{
          overflow: hidden;
          padding-top:10px;
          .p-lf{
            float:left;
            text-decoration: line-through;
            color:#999;
          }
          .p-at{
            float:right;
            .p-ay{
              color:#ff5555;
            }
          }
        }
      }
    }
  }
}